@import "../../styles/variables.scss";

.add {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.724);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal {
        padding: 2rem;
        position: relative;
        background-color: $main-bg;

        h1 {
            font-size: 24px;
            margin-bottom: 2rem;
            color: $soft-clr;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-weight: bold;
            font-size: 24px;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            max-width: 500px;
            justify-content: space-between;

            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                label {
                    font-size: 14px;
                }

                
            }

            input {
                padding: 10px;
                background-color: transparent;
                color: #FFF;
                outline: none;
                border: 1px solid $soft-clr;
            }

            button {
                width: 100%;
                padding: 10px;
                cursor: pointer;

            }




        }

    }
}