.datatable {
    width: 100%;


    .datagrid {
        background-color: #FFF;
        padding: 1rem;
        width: 100%;

        .action {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .MuiDataGrid-toolbarContainer {
        flex-direction: row-reverse;
        width: 100%;
    }

    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: 10px;
    }
}